.globe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


.fade-image {
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 90%);
}